# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
heritage_dataset/

# 3DGS output
gaussian-splatting/output/

# PatchCore outputs
my_bridge_code/anomaly_maps/
my_bridge_code/visualizations/

# Memory bank
my_bridge_code/memory_bank.pt
my_bridge_code/memory_bank_coreset.pt

# Model files
*.pt
*.pth

# 3D data
*.ply

# Logs
*.log

# Python build
build/
dist/

# System
.DS_Store
Thumbs.db

gaussian-splatting/submodules/

structure.txt

gaussian-splatting/output
heritage_dataset/images
heritage_dataset/sparse
my_bridge_code/synthetic_crack_images/
my_bridge_code/synthetic_crack_masks/
my_bridge_code/anomaly_maps/
my_bridge_code/anomaly_maps_rgb/
my_bridge_code/visualizations/
my_bridge_code/visualizations_rgb/
my_bridge_code/memory_bank.pt
my_bridge_code/memory_bank_coreset.pt
heritage_dataset.zip
gaussian-splatting/output - 副本